.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
  }
  
  .contact-item {
    font-family: 'SF-Pro', 'Helvetica Neue', Arial, Helvetica;
    font-size: 30px;
    color: white;
    opacity: 0;
    transform: translateY(100%);
    animation: slideIn 2s forwards;
    text-align: center;
  }
  
  .contact-title {
    font-size: 70px;
    margin-top: 0;
  }
  
  .contact-sub {
    font-size: 50px;
  }
  
  .contact-paragraph {
    margin-left: 350px;
    margin-right: 350px;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons img {
    width: 70px;
    height: 70px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icons img:hover {
    transform: scale(1.2);
  }
  